.footer {
  height: 268px;
  padding-top: 37px;
  background-color: #414141;
  line-height: 1.5;
  color: #333; }

.footer .fcontain {
  width: 1090px;
  margin: 0 auto;
  position: relative; }

.footer .fcontain .footer-top {
  margin-bottom: 30px !important;
  padding-left: 17px;
  overflow: hidden; }

.ftop-min {
  float: left; }

.ftop-li2 {
  margin: 0 122px; }

.ftop-li3 {
  margin-right: 122px; }

.ftop-min .ftop-inner {
  color: #fff;
  font-size: 18px;
  line-height: 51px;
  display: inline-block;
  vertical-align: middle; }

.ftop-min .ftop-inner .ftop-style {
  margin-right: 17px;
  background-image: -webkit-image-set(url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x1/icon-yxfoot-sb38e8b0402-214e6650b9.png?imageView&type=webp) 1x, url(//yanxuan-static.nosdn.127.net/hxm/yanxuan-component/p/20170601/style/img/x2/icon-yxfoot-s31a482cc9a-22e3c09f81.png?imageView&type=webp) 2x);
  float: left;
  overflow: hidden;
  vertical-align: top;
  font-size: 12px;
  word-spacing: normal;
  letter-spacing: normal;
  background-repeat: no-repeat; }

.ftop-img1 {
  background-position: 0 -134px;
  height: 50px;
  width: 50px; }

.ftop-img2 {
  background-position: 0 -368px;
  height: 50px;
  width: 51px; }

.ftop-img3 {
  background-position: 0 0;
  height: 50px;
  width: 51px; }

.ftop-img4 {
  background-position: 0 -194px;
  height: 50px;
  width: 50px; }

.ftop-text {
  float: left; }

.footer .footer-center {
  height: 1px;
  margin-bottom: 27px;
  background-color: #4f4f4f;
  border: 0; }

.footer .footer-bottom {
  text-align: center;
  color: #999;
  position: relative; }

.footer .ftbot-word {
  color: #999;
  text-decoration: none; }

.footer .ftbot-null {
  margin: auto 13px;
  font-weight: bold; }

.footer .ft-text-p {
  white-space: nowrap;
  margin: 11px 0; }

.footer .ft-text-p a {
  color: #999;
  margin-right: 15px;
  cursor: pointer; }

.footer .ft-text-p .ft-abcspan {
  color: #999;
  margin-right: 15px; }

.footer .fbot-policep {
  padding-bottom: 11px;
  color: #999; }

.footer .fbot-policep a {
  color: #999; }

.footer .fbot-aimg img {
  width: 23px;
  height: 25px;
  margin-top: -5px;
  border: 0;
  vertical-align: top; }
